{% doc %}
  Intended for use in a block similar to the button block.

  @param {string} link - link to render
  @param {object} [block] - The block

  @example
  {% render 'button', link: '/collections/all' %}
{% enddoc %}

<a
  {% if link == blank %}
    role="link"
    aria-disabled="true"
  {% else %}
    href="{{ link }}"
  {% endif %}
  class="
    size-style
    {{ block.settings.style_class }}
    {{ block.settings.style_class }}--{{ block.id }}
  "
  style="{% render 'size-style', settings: block.settings %}"
  {%- if block.settings.open_in_new_tab -%}
    target="_blank"
    rel="noopener noreferrer"
  {%- endif -%}
  {{ block.shopify_attributes }}
>
  {{ block.settings.label }}
  <span>
    <svg width="64" height="27" viewBox="0 0 64 27" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.80273 11.8199L0.0372066 11.8199L0.0372062 15.351L1.80273 15.351L1.80273 11.8199ZM63.0962 14.8339C63.7856 14.1444 63.7856 13.0265 63.0962 12.337L51.8604 1.10128C51.1709 0.411803 50.0531 0.411803 49.3636 1.10128C48.6741 1.79077 48.6741 2.90864 49.3636 3.59812L59.3509 13.5855L49.3636 23.5728C48.6741 24.2623 48.6741 25.3801 49.3636 26.0696C50.0531 26.7591 51.1709 26.7591 51.8604 26.0696L63.0962 14.8339ZM1.80273 13.5854L1.80273 15.351L61.8477 15.351L61.8477 13.5855L61.8477 11.8199L1.80273 11.8199L1.80273 13.5854Z" fill="white"/>
    </svg>
  </span>
</a>

{% stylesheet %}
  .link {
    text-decoration: none;
    text-decoration-color: currentcolor;

    &:hover {
      color: var(--color-primary-hover);
      text-decoration-color: transparent;
    }
  }
{% endstylesheet %}